<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=https://cdn.onesrc.cn/uploads/images/onepoint_30.png>
    <title>ONEPOINT</title>
    <link href=https://cdn.jsdelivr.net/gh/ukuq/point-vue@200607/dist/css/app.376a0df9.css rel=preload as=style>
    <link href=https://cdn.jsdelivr.net/gh/ukuq/point-vue@200607/dist/css/chunk-vendors.2bbc5001.css rel=preload
        as=style>
    <link href=https://cdn.jsdelivr.net/gh/ukuq/point-vue@200607/dist/js/app.68f88b54.js rel=preload as=script>
    <link href=https://cdn.jsdelivr.net/gh/ukuq/point-vue@200607/dist/js/chunk-vendors.23f8f6d2.js rel=preload
        as=script>
    <link href=https://cdn.jsdelivr.net/gh/ukuq/point-vue@200607/dist/css/chunk-vendors.2bbc5001.css rel=stylesheet>
    <link href=https://cdn.jsdelivr.net/gh/ukuq/point-vue@200607/dist/css/app.376a0df9.css rel=stylesheet>
</head>

<body><noscript><strong>We're sorry but vue1 doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong></noscript>
    <script>
        window.p_h0 = new RegExp('(.+)/admin').exec(window.location.href)[1];
    </script>
    <div id=app></div>
    <script src=https://cdn.jsdelivr.net/gh/ukuq/point-vue@200607/dist/js/chunk-vendors.23f8f6d2.js> </script>
    <script src=https://cdn.jsdelivr.net/gh/ukuq/point-vue@200607/dist/js/app.68f88b54.js> </script>
</body>

</html>